/* ./your-css-folder/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.grid-item-1{
    @apply bg-firebirds-blue-light-500 p-6;
}

.menu-item-1{
    @apply cursor-pointer 
    ring-2.5
    ring-firebirds-blue-light-500 rounded-sm 
    ring-offset-8 ring-offset-slate-800 ring-opacity-0
    hover:ring-firebirds-blue-light-100
    hover:text-firebirds-blue-light-100
    transition-all duration-200;
}

.snap {
    scroll-snap-type: y mandatory;
  }
  .snap-start {
    scroll-snap-align: start;
  }