/* ./your-css-folder/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.grid-item-1{
    @apply bg-firebirds-blue-light-500 p-6;
}

.menu-item-1{
    @apply cursor-pointer 
    h-full
    flex items-center 
    flex-1 justify-center self-center
    text-firebirds-blue-light-500
    hover:bg-slate-100 hover:text-firebirds-blue-mid-200
    mt-4 rounded-t-3xl
    transition-all duration-200;
}

.menu-item-2{
  @apply cursor-pointer 
  w-full  py-5
  flex 
  flex-1 justify-start pl-10 self-center
  text-white
  hover:bg-slate-200 hover:text-firebirds-blue-mid-600
  hover:translate-x-4 hover:pl-6
  transition-all
  duration-300
  rounded-l-sm;
}

.menu-item-3{
  @apply cursor-pointer 
  py-5
  flex 
  flex-1 justify-center self-center
  text-white
  hover:bg-slate-200 hover:text-firebirds-blue-mid-600
  hover:translate-x-4 hover:pl-6
  transition-all
  duration-300
  rounded-l-sm;
}

.menu-item-active{
  @apply
  cursor-pointer
  h-full
  bg-slate-100
  flex items-center 
  flex-1 justify-center self-center
  text-firebirds-blue-mid-200
}

.menu-item{
  @apply
  block
  basis-1/5;
}

.menu-item-visible{
  @apply
  text-blue-400
}

