/* ./your-css-folder/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.grid-item-1{
    @apply bg-firebirds-blue-light-500 p-6;
}

.menu-item-1{
    @apply cursor-pointer 
    h-full
    flex items-center 
    flex-1 justify-center self-center
    text-firebirds-blue-light-500
    hover:bg-slate-100 hover:text-firebirds-blue-mid-200
    mt-4 rounded-t-3xl
    transition-all duration-200;
}

.menu-item-2{
  @apply cursor-pointer 
  w-full  py-5
  flex 
  flex-1 justify-start pl-10 self-center
  text-white
  hover:bg-slate-200 hover:text-firebirds-blue-mid-600
  hover:translate-x-4 hover:pl-6
  font-ch font-normal
  transition-all
  duration-300
  rounded-l-sm;
}

.menu-item-3{
  @apply cursor-pointer 
  py-5
  flex 
  flex-1 justify-center self-center
  text-white
  hover:bg-slate-200 hover:text-firebirds-blue-mid-600
  hover:translate-x-4 hover:pl-6
  transition-all
  font-ch font-normal
  duration-300
  rounded-l-sm;
}

.menu-item-active{
  @apply
  cursor-pointer
  h-full
  bg-slate-100
  flex items-center 
  flex-1 justify-center self-center
  text-firebirds-blue-mid-200
}

.menu-item{
  @apply
  block
  basis-1/5;
}

.menu-item-visible{
  @apply
  text-blue-400
}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('./font/CooperHewitt-Bold.woff2') format('woff2'),
      url('./font/CooperHewitt-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('./font/CooperHewitt-BoldItalic.woff2') format('woff2'),
      url('./font/CooperHewitt-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cooper Hewitt Book';
  src: url('./font/CooperHewitt-Book.woff2') format('woff2'),
      url('./font/CooperHewitt-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cooper Hewitt Book';
  src: url('./font/CooperHewitt-BookItalic.woff2') format('woff2'),
      url('./font/CooperHewitt-BookItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('./font/CooperHewitt-Heavy.woff2') format('woff2'),
      url('./font/CooperHewitt-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('./font/CooperHewitt-HeavyItalic.woff2') format('woff2'),
      url('./font/CooperHewitt-HeavyItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('./font/CooperHewitt-Light.woff2') format('woff2'),
      url('./font/CooperHewitt-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('./font/CooperHewitt-Semibold.woff2') format('woff2'),
      url('./font/CooperHewitt-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('./font/CooperHewitt-MediumItalic.woff2') format('woff2'),
      url('./font/CooperHewitt-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('./font/CooperHewitt-SemiboldItalic.woff2') format('woff2'),
      url('./font/CooperHewitt-SemiboldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('./font/CooperHewitt-LightItalic.woff2') format('woff2'),
      url('./font/CooperHewitt-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('./font/CooperHewitt-Medium.woff2') format('woff2'),
      url('./font/CooperHewitt-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('./font/CooperHewitt-ThinItalic.woff2') format('woff2'),
      url('./font/CooperHewitt-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cooper Hewitt';
  src: url('./font/CooperHewitt-Thin.woff2') format('woff2'),
      url('./font/CooperHewitt-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}



